#output_img{
    padding: 10px;
    border-top-left-radius: 30px; 
    max-height: 160px;
}
.articles2{
    /* float: left; */
       /* display: inline-flex; */
       /* height: 250px; */
}
#blog_img{
    height: 200px !important;
    
}
#edit_link{list-style-type:none; text-decoration: none; }
#span_edit{
    margin-top: 10px;
    margin-bottom: 10px;
}
#span_edit:hover{
    background-color: blue;
    cursor:pointer;
}
#edit_link:hover{cursor:pointer}

#search_articles{
    display: block;
    position: absolute;
    z-index: 322;
    background: aliceblue;
    margin-top:40px;
    height: 150px;
    overflow-y: scroll;
}